<nav>
    <div id="nav-left">
        <a href="/">
            <h1>MediCon</h1>
        </a>
    </div>

    <div id="nav-right">
        <ul>
            <li>
                <a href="/"><span><i class="ri-home-2-line"></i></span>Home</a>
            </li>
            <li>
                <a href="/service"><span><i class="ri-service-line"></i></span>Service</a>
            </li>
            <li>
                <a href="/links"><span><i class="ri-links-line"></i></span>Quick Links</a>
            </li>

            <% if (locals.doctor || locals.user) { %>
                <li>
                    <form action="/api/v1/logout" method="get">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } else { %>
                <li><a href="/logindashboard"><button>Login</button></a></li>
            <% } %>
            
        </ul>
    </div>
</nav>