<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <main>
      <nav>
        <div id="nav-left">
          <a href="/">
            <h1>MediCon</h1>
          </a>
        </div>

        <div id="nav-right">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/service">Service</a></li>
            <li><a href="/links">Quick Links</a></li>
            <li><button>Login</button></li>
          </ul>
        </div>
      </nav>
    </main>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
