<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <main>
      <!-- navbar section  -->
      <nav>
        <div id="nav-left">
          <a href="/">
            <h1>MediCon</h1>
          </a>
        </div>

        <div id="nav-right">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/service">Service</a></li>
            <li><a href="/links">Quick Links</a></li>
            <li><button>Login</button></li>
          </ul>
        </div>
      </nav>

      <!-- hero section  -->
      <section id="hero">
        <div id="hero-left">
          <h1>Welcome to <span>MEDICON</span></h1>
          <p>Connect with top medical professionals at the click of a button. Schedule appointments, manage your visits, and stay on top of your healthcare needs with ease.</p>
          <button>Get Started</button>
        </div>

        <div id="hero-right">
          <img src="/assets/hero-sec.svg" alt="hero" />
        </div>
    </main>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
