@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #407bff;
  --tertiary-color: #fff;
  --text-color: #828282;
  --hover-color: #3a66ff;
  --button-padding: 0.5rem 2rem;
  --button-radius: 8px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--tertiary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Poppins , 'sans-serif';
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

nav ul li a {
  color: var(--text-color);
}

nav ul li a:hover {
  color: var(--hover-color);
}

nav button,
#hero-left button {
  padding: var(--button-padding);
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  color: var(--tertiary-color);
  font-size: 1.1rem;
  border-radius: var(--button-radius);
  cursor: pointer;
}

nav button:hover,
#hero-left button:hover {
  background-color: var(--hover-color);
}

nav button:active,
#hero-left button:active {
  transform: scale(0.98);
}

#nav-left h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
